.grid {
  display: flex;
  height: 50vw;
  width: 50vw;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.grid__overlay {
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(95, 158, 160, 0.73);
  font-size: 8vw;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 7px rgba(55, 55, 55, 0.75);
}

.grid__overlay__score {
  font-size: 2vw;
  list-style: none !important;
  text-align: justify;
  width: 46vw;
  text-align: left;
  padding: 20px 0px;
  background: rgba(95, 158, 159, 0.66)
}

.grid__overlay__score th {
  font-size: 1.3em;
}

.grid__overlay__score td {
  font-size: 0.9em;
}

.grid__overlay__msg {
  font-size: 14vw;
}

.grid__overlay__play-again {
  bottom: 59px;
  right: 45%;
  font-size: 11vw;
  text-shadow: 2px 2px 5px;
  color: #104c4e;
  cursor: pointer;
}

.grid__space {
  cursor: pointer;
  width: 12vw;
  height: 12vw;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  color: cadetblue;
  justify-content: center;
  align-items: center;
  font-size: 11vw;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 7px rgba(55, 55, 55, 0.75);
}

.grid__space__hover {
  display: none;
}

.grid__space:hover > .grid__space__hover {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f5f61;
  border-radius: 10px;
  color: rgba(70, 124, 125, 0.84);
  /* border: 1px solid black; */
  text-shadow: 2px 0 0;
}

.grid__space:hover {
  content: 'X'
}
